:root {
    --gray-one: grey;
    --blue-one: blue;
    --blue-two: rgb(90, 90, 175);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p a,
form,
span,
label,
input,
button {
    font-family: 'Poppins', sans-serif;

}
